<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gerar Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> 
      <ion-col>
      <ion-button expand="full"(click)='gerar()'>Gerar Treino Aleatorio</ion-button>
      <ion-iten>4 Ciclos de :</ion-iten><br>
      <ion-item>
        <ion-input [(ngModel)]='treino.treino1'></ion-input>
        </ion-item> 
      <ion-item>
        <ion-input [(ngModel)]='treino.treino2'></ion-input>
        </ion-item> 
      <ion-item>
        <ion-input [(ngModel)]='treino.treino3'></ion-input>
        </ion-item> 
    </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
