<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calcular Pencentual De Gordura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-item>        
        <ion-label position="floating">altura (m)</ion-label>
        <ion-input [(ngModel)]='rmf.altura' type='number'></ion-input>
        </ion-item>
        <ion-item>        
        <ion-label position="floating">Cincunferencia Cintura (m)</ion-label>
        <ion-input [(ngModel)]='rmf.cincunferenciaCintura' type='number'></ion-input>
        </ion-item>
        <ion-item>        
        <ion-label position="floating">Genero (M) ou (F)</ion-label>
        <ion-input [(ngModel)]='rmf.genero' type='text'></ion-input>
        </ion-item>
        
      <ion-button expand="full"(click)='calcular()'>Calcular</ion-button>
      <ion-iten>Resultado</ion-iten><br>
      <ion-item>
        <ion-input [(ngModel)]='rmf.resultado'></ion-input>
        </ion-item> 
       </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
